/* Microcash.org landing page */

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    zoom:1;
}

/* General elements */
a {
  text-decoration: none;
  color: #08598C;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

p {
  line-height: 24px;
}

/* Body */
body {
  font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #31353D url(../images/pitch-map.png) no-repeat 50% 50%;
}

/* Container */
.container {
  margin: 0 auto;
  width: 480px;
  position: relative;
}

/* Header */
header {
  text-align: center;
  margin: 200px 0 24px 0;
}

/* Page wrap */
#page {
  margin-bottom: 200px;
}

/* Main container */
#main {
  background: #FFFFFF;
  padding: 24px 24px 0 24px;
  overflow: hidden;
  margin-bottom: 24px;
}

#main p {
  margin-bottom: 24px;
}

#main p strong {
  font-weight: bold;
}

/* Notice */
#notice {
  color: #FFFFFF;
}

#notice a {
  color: #AAF;
}